* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* for Calculator and Converter namein header */
.headerCalculator,
.headerConverter {
  margin-top: 55px;
  text-align: center;
  color: #8ad9d1;
  font-size: 20px;
}
/* for the div contain the moon and sun (darck and light) */
.adjust {
  padding: 5px;
  color: #758888ab;
  background-color: #8ad9d169;
  border: none;
  border-radius: 10px;
  position: absolute;
  left: 305px;
  top: 5px;
}
body {
  background-color: #f8ffef;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

body.dark {
  background: #00081f;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.label {
  background-color: #11111124;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.5);
}

.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  left: 2px;
  height: 24px;
  width: 24px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
  transform: translateX(24px);
}

.fa-moon {
  color: #f1c40f;
}

.fa-sun {
  color: #f39c12;
}
/* for button Calculator and button Converter   */
.buttons {
  margin: 10px;
  text-align: center;
  margin-top: 35px;
  margin-bottom: 45px;
}
.converter,
.calculator {
  color: #758888;
  padding: 10px;
  background: #fed9dfeb;
  font-size: 19px;
  border-radius: 10px;
  border: none;
}
/* style for numbers in  calculator  */
.numbers {
  margin: 75px;
  margin-left: 55px;
  padding: 10px;
  width: 270px;
  border: 2px #cde2dba6 solid;
  background-color: #dbe4e24d;
  border-radius: 10px;
}

input[type="button"] {
  margin: 10px;
  width: 36px;
  height: 30px;
  background-color: #b8bdbc85;
  border-radius: 10px;
  font-weight: bold;
  border: none;
  font-size: 19px;
  margin-left: 14px;
}
/* style for operator buttons in  calculator  */
.operatorDiv {
  margin-left: 185px;
  margin-top: -200px;
}
/* for input that shows numbers I wrote */
.numInput {
  margin: 10px;
  padding: 15px;
  width: 230px;
  border-radius: 10px;
  border: none;
  background-color: #aeb7c433;
}
.operatorDiv input {
  color: #862043;
  background-color: #52ccc08a;
  font-size: 18px;
}
/* for selected coins in converter */
.coin1,
.coin2 {
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  width: 120px;
  color: #509494;
}

.select {
  margin-left: 30px;
}

.fa-random:before {
  content: "\f074";
  border-radius: 5px;
  border: 2px #00000059 solid;
  color: #509494;
  padding: 1px;
}
.convertInput {
  border: 2px #bbd5cc solid;
  margin: 10px;
  width: 160px;
  padding: 5px;
  border-radius: 5px;
}
